$violet: #C724B1;
$blue: #00A9CE;
$navy: #00205B;
$black: #666666;
$white: #FFF;

body {
    font-family: 'Quicksand', sans-serif;
}
.top-breadcrumb {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: inline-block;
        a,
        span  {
            font-size: 12px;
        }
        &:before {
            padding: 8px;
            color: $black;
            content: '>';
            font-weight: bold;
        }
        &:first-child {
            &:before {
                content: '';
                padding: 0;
            }
        }
    }
}

header {
    font-family: 'Comfortaa', cursive;
    color: $blue;
    .header-title {
        padding: 1em;
        float: left;
        background: #F7F7F7;
        border-radius: 0 10px 10px 0;
        h1 {
            font-weight: 700;
        }
    }
}
